{% extends "base.html" %}
{% block maincontent %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    About metalsmith-cockpit
                </h1>
                <h2 class="subtitle">
                    This is the About page.
                </h2>
            </div>
        </div>
    </section>
{% endblock %}
