{% extends "base.html" %}
{% block maincontent %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    metalsmith-cockpit
                </h1>
                <h2 class="subtitle">
                    How to create a simple personal blog with
                    <a href="https://metalsmith.io/" target="_blank">metalsmith</a>
                    and
                    <a href="https://getcockpit.com/" target="_blank">Cockpit</a>.
                </h2>
            </div>
        </div>
    </section>
{% endblock %}
